
.profile {
    display : block;
    margin-left : auto;
    margin-right : auto;
    width : 150px
}

.title {
    text-align: center; 
    font-size: 16px;
}

p {
    style="font-size : 14px;
    font-family : 'gulim';
    color : black;
    letter-spacing : -1px;
    text-align : center;
    font-weight :600
}

.box {
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    margin: 30px;
    padding: 30px;
    margin-left : auto;
    margin-right : auto;
    color: white;
    box-shadow: 3px 3px black; 
}

.container {
    width: 800px;
}

.header {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
}

.left-menu {
    width: 20%;
    height: 400px;
    background-color: cornflowerblue;
    display: inline-block;
}

.right {
    width: 80%;
    height: 400px;
    background-color: coral;
    display: inline-block;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: gray;

}