
.profile {
    display : block;
    margin-left : auto;
    margin-right : auto;
    width : 150px
}

.title {
    text-align: center; 
    font-size: 16px;
}

p {
    style="font-size : 14px;
    font-family : 'gulim';
    color : black;
    letter-spacing : -1px;
    text-align : center;
    font-weight :600
}

.box {
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    margin: 30px;
    padding: 30px;
    margin-left : auto;
    margin-right : auto;
}